body {
/*	background-color: #eaeaea; */
}
.intro-banner {
	height: 300px;
}
.text-center {
	text-align: center;
}
.custom-menu-icon {
	font-size: 18pt;
}

.tool-info-box {
/*	border-style: solid;
	border-color: blue; */
}

.tool-img {
	max-width: 300px;
}
