<div class="row">
  <div class="small-4 columns">
    <h4>{{include.name}}</h4>
  </div>
  <div class="small-6 columns">
    {{include.description}}
  </div>
  <div class="small-2 columns"><!-- left btns -->
    <div class="row">
      <ul class="menu align-right">
        <li><a href="{{ include.moreurl | absolute_url }}">
          <i class="fi-magnifying-glass custom-menu-icon"></i>
        </a></li>
        <li><a href="{{ "https://github.com/" | append: site.github_user | append: "/" | append: include.githuburl }}">
          <i class="fi-social-github custom-menu-icon"></i>
        </a></li>
    </ul>
    </div>
  </div><!-- /left btns -->
</div>
