<div class="row paper-box">
  <div class="small-1 columns"><!-- right btns -->
      <ul class="menu align-left">
        <li><a href="{{ include.url }}">
          <i class="fi-page-pdf custom-menu-icon"></i>
        </a></li>
    </ul>
  </div><!-- /right btns -->
  <div class="small-11 columns">
    {{ include.title }} <br/>
    <span class="italic"> {{ include.authors }} </span><br/>
    In: <span class="italic">{{ include.booktitle }}.</span> {{ include.address }}. {{ include.year }} </span>
  </div>
</div>
