<div class="small-3 columns tool-info-box">
    <div class="row column">
      <img src="{{ include.image }}" class="float-center tool-img"/>
    </div>
    <div class="row column">
      <h4 class="text-center">{{ include.name }}</h4>
    </div>
    <div class="row column">
      {{ include.description }}
    </div>
    <div class="row column">
      <div class="expanded button-group">
        <a href="{{ include.moreurl }}" class="button">More</a>
        <a href="{{ include.downloadurl }}" class="button">Download</a>
      </div>
    </div>
  </div>
