<div class="small-3 columns tool-info-box">
    <div class="row column">
      {% if include.image.size > 0 %}
        <img src="{{ include.image }}" class="float-center tool-img"/>
      {% else %}
        <div class="missing-project-img">
          <div class="centered">
            No image for {{ include.name }} available.
          </div>
        </div>
      {% endif %}

    </div>
    <div class="row column">
      <h4 class="text-center">{{ include.name }}</h4>
    </div>
    <div class="row column">
      {{ include.description }}
    </div>
    <div class="row column">
      <div class="expanded button-group">
        <a href="{{ include.moreurl }}" class="button">More</a>
        <a href="{{ include.downloadurl }}" class="button">Download</a>
      </div>
    </div>
  </div>
