<!DOCTYPE html>
<html lang="en">
<head>
  {% include html_head.html %}
</head>
<body>
  {% include head_nav.html %}

  <div class="row"> <!-- intro header -->
    <div class="large-12 columns intro-banner">
      <h1 class="text-center">{{ site.data.info.landing.headline }}</h1>
      <p class="text-center">
        {{ site.description }}
      </p>
    </div>
  </div> <!-- intro -->
  <hr>
  <div class="row small-up-1 medium-up-2 large-up-3"> <!-- tools section -->
    <a name="projects"></a>
    <h2 class="text-center">{{ site.data.info.landing.projects.headline }}</h2>
    <h5 class="text-center">{{ site.data.info.landing.projects.intro }}</h5>
    {% for project in  site.data.info.landing.projects. items %}
      {%
        include project_presentation_box.html
          name=project.name description=project.description
          moreurl=project.moreurl downloadurl=project.downloadurl
          githuburl=project.githuburl
          image=project.image
      %}
    {% endfor %}
  </div> <!-- /tools sec -->
  <hr>
  <div class="row"> <!-- about section -->
    <div class="large-12 columns">
      <a name="about"></a>
      <h1 class="text-center">About</h2>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
  </div><!-- /about sec -->
  {% include scripts.html %}
</body>
</html>
